@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stworz swoj wlasny plan !</h1>
    <ul class="list-group">
        <li class="list-group-item">@Html.ActionLink("Lista Planow", "index", "Plans")</li>
        <li class="list-group-item">@Html.ActionLink("Lista Prowadzących", "index", "Prowadzacy")</li>
        @* <li class="list-group-item disabled">@Html.ActionLink("Lista Zajec", "index", "Classes")</li> *@
    </ul>
</div>