@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra diam non turpis pulvinar, at convallis neque sodales. Nunc ut nunc quis dui semper efficitur aliquet a lorem.</p>
    <p>
        <a href="@Url.Action("Create", "Plans")" class="btn btn-primary btn-lg">Utwórz plan &raquo;</a>
    </p>
</div>